.vs/
x64/
Debug/
Release/
ipch/

*.user
*.suo
*.VC.db
*.VC.opendb

*.obj
*.exe
*.pdb
*.ilk
*.log

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.DS_Store
Thumbs.db

*.dll

*.tmp
*.bak

*.ncb
*.sdf

*.tlog
*.idb
*.opendb
